body {
    background-color: #cccccc;
    /*margin-left: 250px;*/
}

.wrapper {
    height: 850px;
    width: 800px;
    position: absolute;
    background-color: #cccccc;
    margin-left: 28%;
    background-image: url("cloud.jpg");
    
}
#title {
    color: lightgray;
    font-size: 200%;
    font-family: 'Poiret One', cursive;
    text-align: center;
    text-shadow: 4px 1px #4169E1;
}

#subtitle {
    color: 	#F5F5F5;
    font-size: 70%;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    position: relative;
    bottom: 20px;
}

#content1{
    overflow: auto;
    bottom:100px;
    position: relative;
    font-family:'Roboto Mono';
}

p {
    background-color: black;
    position: relative;
    color: #FFFFFF;
    width: 430px;
    bottom: 20px;
    margin-left: 300px;
    padding: 10px 20px;
}

.input {
    color: white;
    position: relative;
    top: 560px;
    left: 30px;
    font-size: 20px;
    
}

#earth {
    width:250px;
    height:150px;
    float: left;
    position: absolute;
    left:30px;
    bottom: 130px;
    /*left: 10%;*/
}

#girl-walking{
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 150px;
    left: 30px;
    
}
#date{
    font-size: 180%; 
    color:white;
    text-align: center;
    position: relative;
    bottom: 105px;
    left: 0px;
    
}
