body {
    background-color: #cccccc;
}

#title {
    color: #000000;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    text-align: center;
    text-shadow: 3px 2px #a6a6a6;
}

#subtitle {
    color: #002b80;
    font-size: 70%;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}
